{% extends "base.html" %}

{% block title %}
Город
{% endblock %}

{% block content %}
<h1 class="display-4 mx-5">Город: {{object.name}}</h1>
<div class="row mx-5">
  <div class="col-md-6">

  </div>
</div>

<div class="dropdown row mx-5">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Назад
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'core:home_page' %}">К списку городов</a>
    <a class="dropdown-item" href="{% url 'train:home' %}">К списку поездов</a>
    <a class="dropdown-item" href="{% url 'route:list' %}">К списку маршрутов</a>
  </div>
</div>

{% endblock %}