{% url 'core:home_page' as home_page_url %}
{% url 'core:add' as city_add_url %}
{% url 'train:home' as train_page_url %}
{% url 'train:add' as train_add_url %}
{% url 'route:list' as route_list_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <title>{% block title %}Hello, world! {% endblock %}</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
  <a class="navbar-brand" href="{% url 'route:home' %}">Travel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-md-11" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if request.path == home_page_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'core:home_page' %}">Города<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == train_page_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'train:home' %}">Поезда</a>
      </li>
      <li class="nav-item {% if request.path == route_list_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'route:list' %}">Маршруты</a>
      </li>
      <li class="nav-item dropdown {% if request.path == train_add_url or request.path == city_add_url %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Добавить
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'core:add' %}">Новый город</a>
          <a class="dropdown-item" href="{% url 'train:add' %}">Новый поезд</a>
        </div>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'prof' %}">Профиль</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item {% if request.path == login_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'login' %}">Войти</a>
      </li>
      <li class="nav-item {% if request.path == register_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


    <div class="container my-4">
      {% if messages %}
      <div class="row">
        <div class="col-md-8 mx-auto">
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-warning messages">
            <span {% if message.tags %} class="{message.tags}"{% endif %}>
              {{ message }} <br>
            </span>
          </div>
          {% else %}
          <div class="alert alert-success messages">
            <span {% if message.tags %} class="{message.tags}"{% endif %}>
              {{ message }} <br>
            </span>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      </div>
{% block content %}

{% endblock %}
  <script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });
  </script>
  <script>
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
    });
  </script>
  </body>
</html>